snippet right_arrow "Insert unicode right arrow" 
&#8594;
endsnippet

snippet left_arrow "Insert unicode left arrow" 
&#8592;
endsnippet

snippet up_arrow "Insert unicode up arrow" 
&#8593;
endsnippet

snippet down_arrow "Insert unicode down arrow" 
&#8595;
endsnippet

snippet quote "Insert a cited quote block" bm 
>
> -- <cite>[${1:citation name}](${2:citation link})</cite>
endsnippet


